**
!Dockerfile
!package.json
!package-lock.json
!docker/
!docker/entrypoint.sh
!docker/check-harnesses.cjs
!docker/tailscaled.run
!docker/nginx.conf
!docker/git-gateway.run
!docker/configure-git-gateway.py
